@keyframes animeOpacity {
  from {opacity: 0;}
  to {opacity: 1;}
}
html,
body {
  padding: 0;
  margin: 0;
  /* font-family: Ubuntu, Arial, sans-serif; */
  font-family: Arial, sans-serif;
  letter-spacing: 0.02857em;
  font-size: 16px;
}
body {
  animation-name: animeOpacity;
  animation-duration: 1s;
}
a {
  color: #292D32;
  text-decoration: none;
}
a:hover {
  color: #666;
}
h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
button {
  border: none;
}